.posterPrev {
    border-radius: 5px;
    /* width: 14%; */
    /* min-width: 115px; */
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    /* margin: 15px; */
}
.posterPrev:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.75);
}