.posterPrev {
    border-radius: 5px;
    /* width: 14%; */
    /* min-width: 115px; */
    transition: 0.3s ease;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    /* padding: 0; */
    /* margin: 15px; */
}
.posterPrev:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.75);
}
.ui.modal .content > .image.posterPrev {
    padding: 0 !important;
}
.ui.modal .content > .image.posterPrev:hover {
    transform: scale(1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    cursor: initial;
}